:host {
  display: flex;
  align-items: center;
  justify-content: center;
  /**
   * @prop --stylo-color-flex-wrap: Component flex-wrap
   * @default wrap
   */
  flex-wrap: var(--stylo-color-flex-wrap, wrap);
  /**
   * @prop --stylo-color-overflow: Component overflow
   * @default visible
   */
  overflow: var(--stylo-color-overflow, visible);
  /**
   * @prop --stylo-color-padding: Component padding
   * @default 8px
   */
  padding: var(--stylo-color-padding, 8px);
  /**
   * @prop --stylo-color-padding: Component width
   * @default 288px
   */
  width: var(--stylo-color-width, 298px);
}

button {
  /**
   * @prop --stylo-color-button-width: Button width
   * @default 28px
   */
  width: var(--stylo-color-button-width, 28px);
  /**
   * @prop --stylo-color-button-height: Button height
   * @default 28px
   */
  height: var(--stylo-color-button-height, 28px);

  /**
   * @prop --stylo-color-button-margin: Button margin
   * @default 4px
   */
  margin: var(--stylo-color-button-margin, 4px);
  padding: 0;

  /**
   * @prop --stylo-color-button-outline: Button outline
   * @default none
   */
  outline: var(--stylo-color-button-outline, none);

  cursor: pointer;

  border: 1px solid var(--stylo-palette-border-color, var(--stylo-palette-color-hex));

  /**
   * @prop --stylo-color-button-border-radius: Button border-radius
   * @default 2px
   */
  border-radius: var(--stylo-color-button-border-radius, 2px);

  background: var(--stylo-palette-color-hex);

  &.selected {
    box-shadow: 0 0 4px 4px
      rgba(var(--stylo-palette-box-shadow-color, var(--stylo-palette-color-rgb)), 0.4);
  }

  &:not(.selected):hover,
  &:not(.selected):focus {
    box-shadow: 0 0 2px 2px
      rgba(var(--stylo-palette-box-shadow-color, var(--stylo-palette-color-rgb)), 0.4);
  }
}

/**
 * stylo-color-input: Host
 */
/**
 * @prop --stylo-color-input-margin: Input field margin
 * @default 4px
 */
/**
 * @prop --stylo-color-input-container-border-radius: The border-radius property of the input and hash container
 */
/**
 * @prop --stylo-color-input-container-border: The border property of the input and hash container
 */

/**
 * stylo-color-input: Input
 */
/**
 * @prop --stylo-color-input-color: Input color
 * @default rgb(102, 102, 102)
 */
/**
 * @prop --stylo-color-input-background: Input background
 * @default inherit
 */
/**
 * @prop --stylo-color-input-height: Input height
 * @default 28px
 */
/**
 * @prop --stylo-color-input-box-shadow: Input box-shadow
 * @default rgb(240, 240, 240) 0 0 0 1px inset
 */
/**
 * @prop --stylo-color-input-border-radius: Input border-radius
 * @default 0 4px 4px 0
 */
/**
 * @prop --stylo-color-input-padding: Input padding
 * @default 0 4px
 */
/**
 * @prop --stylo-color-input-max-width: Input max-width
 * @default 136px
 */
/**
 * @prop --stylo-color-input-font-family: Input font-family
 * @default inherit
 */

/**
 * stylo-color-input: Hash (#)
 */
/**
 * @prop --stylo-color-hash-width: Hash (#) width
 * @default 28px
 */
/**
 * @prop --stylo-color-hash-height: Hash (#) height
 * @default 28px
 */
/**
 * @prop --stylo-color-hash-background: Hash (#) background
 * @default rgb(240, 240, 240) none repeat scroll 0 0
 */
/**
 * @prop --stylo-color-hash-color: Hash (#) color
 * @default rgb(152, 161, 164)
 */
/**
 * @prop --stylo-color-hash-border-radius: Hash (#) border-radius
 * @default 4px 0 0 4px
 */
