@use "../../../themes/overlay";

:host(.top) {
  div.triangle {
    bottom: unset;
    top: -34px;
    transform: scale(0.7) translate(50%, 0);
  }
}

div.triangle {
  z-index: 1;

  position: absolute;
  bottom: -34px;
  left: var(--stylo-toolbar-triangle-start);

  width: 40px;
  height: 40px;
  overflow: hidden;

  transform: scale(0.7) rotate(180deg) translate(50%, 0);

  &:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    transform: rotate(45deg);
    top: 28px;
    left: 8px;

    @include overlay.overlay;
  }
}
