:host(.top) {
  div.triangle {
    bottom: unset;
    top: 0;
    transform: rotate(180deg) translate(50%, 100%);
  }
}

div.triangle {
  z-index: 1;

  /**
   * @prop --stylo-triangle-width: The width of the triangle
   * @default 22px
   */
  --triangle-width: var(--stylo-triangle-width, 22px);
  --triangle-half-width: calc(var(--triangle-width) / 2);
  --triangle-start: calc(var(--stylo-toolbar-triangle-center) - var(--triangle-half-width));

  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: var(--triangle-start, var(--stylo-toolbar-triangle-start));
  transform: translate(0, 100%);

  background: transparent;

  border-left: var(--triangle-half-width) solid transparent;
  border-right: var(--triangle-half-width) solid transparent;
  border-top: var(--triangle-half-width) solid var(--stylo-background, var(--white));

  /**
   * @prop --stylo-triangle-drop-shadow: drop-shadow of the triangle
   */
  filter: drop-shadow(var(--stylo-triangle-drop-shadow));
}
