@use "../../../themes/overlay";

:host(.top) {
  div.triangle {
    bottom: unset;
    top: 0px;
    transform: rotate(180deg) translate(50%, 100%);
  }
}

div.triangle {
  z-index: 1;

  position: absolute;
  width: 0;
  height: 0;
  bottom: 0px;
  left: max(var(--stylo-toolbar-triangle-start), calc(var(--stylo-triangle-width, 40px) / 2));

  background: transparent;
  /**
   * @prop --stylo-triangle-width: The width of the triangle
   * @default 2
   */
  /**
   * @prop --stylo-triangle-background: The background-color of the triangle
   * @default --white
   */
  border-left: calc(var(--stylo-triangle-width, 24px) / 2) solid transparent;
  border-right: calc(var(--stylo-triangle-width, 24px) / 2) solid transparent;
  border-top: calc(var(--stylo-triangle-width, 24px) / 2) solid
    var(--stylo-triangle-background, --white);
  transform: translate(-50%, 100%);

  /**
   * @prop --stylo-triangle-drop-shadow: drop-shaddow of the triangle
   * @default 2
   */
  filter: drop-shadow(var(--stylo-triangle-drop-shadow));
}
