@use "../../../../themes/overlay";

:host {
  direction: ltr;
}

div.tools {
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  animation: 0s ease 0s 1 normal none running none;
  transition: opacity 0.1s ease-out;

  pointer-events: none;

  position: absolute;
  top: var(--actions-top);
  left: var(--actions-left);
  right: var(--actions-right);
  transform: translate(var(--actions-translate-x), var(--actions-translate-y));

  /**
   * @prop --stylo-toolbar-zindex: The z-Index of the toolbar
   * @default 2
   */
  z-index: var(--stylo-toolbar-zindex, 2);

  @include overlay.overlay;
  @include overlay.toolbar;

  /**
   * @prop --stylo-toolbar-min-width: The width of the toolbar
   * @default 280px
   */
  min-width: var(--stylo-toolbar-min-width, 280px);

  /**
   * @prop --stylo-toolbar-min-height: The height of the toolbar
   * @default 44px
   */
  min-height: var(--stylo-toolbar-min-height, 44px);

  &.tools-sticky,
  &.tools-mobile.tools-sticky {
    position: fixed;

    transform: initial;

    /**
     * @prop --stylo-toolbar-sticky-bottom: The bottom attribute of the sticky toolbar
     * @default 0
     */
    bottom: var(--stylo-toolbar-sticky-bottom, 0);
    left: 0;

    width: 100%;
    border-radius: 0;

    /**
     * @prop --stylo-toolbar-sticky-zindex: The z-Index of the sticky toolbar
     */
    z-index: var(--stylo-toolbar-sticky-zindex);

    /**
     * @prop --stylo-toolbar-sticky-height: The height of the sticky toolbar
     * @default 56px
     */
    height: var(--stylo-toolbar-sticky-height, 56px);

    padding-left: 0;

    stylo-toolbar-button {
      margin: 0 2px;
    }

    stylo-toolbar-triangle {
      display: none;
    }
  }

  &.tools-activated {
    visibility: visible;
    opacity: 1;
  }

  &.tools-mobile {
    /**
     * @prop --stylo-toolbar-mobile-border: Border of the toolbar
     * @default 0
     */
    border: var(--stylo-toolbar-mobile-border, 0);
  }
}

:host(.tools-ios) {
  div.tools {
    &.tools-mobile.tools-sticky {
      /**
       * @prop --stylo-toolbar-sticky-scroll: Top position if sticky
       * @default 0
       */
      top: calc(var(--stylo-toolbar-sticky-scroll, 0));
      bottom: inherit;
    }
  }
}

/* Other SCSS files of the component */

/**
 * @prop --stylo-toolbar-button-color-active: The color of the buttons when active
 * @default --highlight (see _variables.scss)
 */
/**
 * @prop --stylo-toolbar-link-zindex: The z-index property of the link input
 * @default 2
 */
/**
 * @prop --stylo-toolbar-link-color: The color property of the link input
 * @default black
 */
/**
 * @prop --stylo-toolbar-link-placeholder-color: The color of the place holder of the link input
 * @default black
 */
/**
 * @prop --stylo-toolbar-link-mobile-color: The color property of the link input on mobile
 * @default inherit
 */
/**
 * @prop --stylo-toolbar-link-mobile-placeholder-color: : The color of the place holder of the link input on mobile
 * @default inherit
 */
/**
 * @prop --stylo-toolbar-button-color: The buttons color
 * @default black
 */
/**
 * @prop --stylo-toolbar-button-mobile-color-active: The buttons color on mobile if active
 * @default #3880ff
 */
/**
 * @prop --stylo-toolbar-button-zindex: The z-index of the action buttons
 * @default 2
 */
/**
 * @prop --stylo-toolbar-button-font-size: The buttons font size
 * @default 1.4rem
 */
/**
 * @prop --stylo-toolbar-button-font-family: The buttons font family
 * @default inherit
 */
/**
 * @prop --stylo-toolbar-button-color-disabled: The color of the buttons when disabled
 * @default --light (see _variables.scss)
 */
/**
 * @prop --stylo-toolbar-button-display-disabled: Per default the disable elements on title elements are not displayed
 * @default none
 */
/**
 * @prop --stylo-toolbar-button-mobile-color-disabled: The color of the buttons when disabled on mobile
 * @default #f4f5f8
 */
/**
 * @prop --stylo-toolbar-separator-background: The background of the separator
 * @default #f4f5f8
 */
/**
 * @prop --stylo-toolbar-separator-mobile-background: The background of the separator on mobile
 * @default #f4f5f8
 */
/**
 * @prop --stylo-toolbar-triangle-start: The left position of the triangle
 * @default 8px
 */
/**
 * @prop --stylo-toolbar-triangle-box-shadow: The box-shadow of the triangle
 * @default 0 0 8px 0 rgba(0, 0, 0, 0.1)
 */
