@use "../../../themes/variables";
@use "../../../themes/overlay";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: var(--menu-top);
  left: 50%;
  transform: translate(-50%, calc(-100% - 16px));

  @include variables.colors;
  @include overlay.overlay;
  @include overlay.dialog;
  @include overlay.toolbar;

  z-index: var(--stylo-toolbar-zindex, 1);
}

div.icon {
  display: flex;
  flex-direction: column;
}
