@use "../../../../themes/variables";

:host {
  display: flex;

  @include variables.colors;
}

stylo-toolbar-button.active {
  --stylo-toolbar-button-color: var(--stylo-toolbar-button-color-active, var(--highlight));
}
